html{
    height:100vh;
    
    
}

body{
    background: radial-gradient(circle at 10% 20%, rgb(0, 102, 161) 0%, rgb(0, 68, 108) 90.1%);
    font-family: Baloo;
    padding:10px;
}


h1 {
    letter-spacing: 2px;
    text-align: center;
    color: white;
}

input{
    border: none;
    height: 30px;
    background: white;
    border-radius: 6px;
    text-align: center;
}

button{
    font-family: inherit;
    padding: 4px 10px;
    margin:10px 10px;
    display:block;
    color:#3186b2;
    background: #fcfcfc; ;
    border: 1px solid #fcfcfc; ;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.container{
    text-align: center;
    border:1px solid yellow;
    margin:200px auto;
    padding: 10px 25px;
}

#emoji-container {
    margin: 40px;
    text-align: center;
}

#input-emoji{
    margin:0 auto;
}
.buttons-wrapper{
    display: flex;
    justify-content: center;
}