
html{
    height: 100vh;
}
body{
    background: radial-gradient(circle at 10% 20%, rgb(0, 102, 161) 0%, rgb(0, 68, 108) 90.1%);
    font-family: Baloo;
    padding:10px;
    background-size: cover;
    
}


h1 {
    letter-spacing: 2px;
    text-align: center;
    color: white;
}

input{
    border: none;
    height: 30px;
    background: white;
    border-radius: 6px;
    text-align: center;
}

button{
    font-family: inherit;
    padding: 4px 10px;
    margin:20px 10px;
    display:block;
    color:#3186b2;
    background: #fcfcfc; ;
    border: 1px solid #fcfcfc; ;
    border-radius: 5px;
    cursor:pointer;
}

button:hover{
    background: #faeee1;
    border:1px solid #5d31b2;
}


.container{
    text-align: center;
    padding: 10px 25px;
}

#emoji-container {
    margin: 40px;
    text-align: center;
}
#emoji-container span {
    margin: 10px;
    font-size: 40px;
}

#input-emoji{
    margin:20px auto;
}
.buttons-wrapper{
    display: flex;
    justify-content: center;
}